<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cheZhiLian.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1F73F931F355FDA00F0B71C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1F73FAF1F355FDA00F0B71C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1F73FBA1F355FDA00F0B71C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
